<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="static/js/index.js">
    </script>

    <title>Townie Doubt</title>
    <style>
    input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://cdn2.iconfinder.com/data/icons/thin-essentials-2/24/thin-1242_door_logout_exit-32.png');
    background-position: 1px 5px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
  width: 100%;
}
input[type=number] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://cdn0.iconfinder.com/data/icons/feather/96/circle-add-32.png');
    background-position: 5px 7px;
    background-repeat: no-repeat;
    padding: 12px 0px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=number]:focus {
    width: 100%;
}
    </style>
  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-light" style="background-color: #630082;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="float-right">
          <button type="button" class="btn btn-success btn-lg nav-link">Trang chủ</button>
        </div>
        <br>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-info btn-lg nav-link" data-toggle="modal" data-target="#rulemodal">Luật Chơi</button>
          <div class="modal fade" id="rulemodal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Luật chơi</h4>
                </div>
                <div class="modal-body">
                  <p>_ Khi đêm đến, người quản trò nói "Đêm tối đến và tất cả mọi người đang ngủ." , tất cả mọi người nhắm mắt lại.

_ Sau đó, người quản trò nói "Mafia ơi hãy thức dậy", nhóm mafia (Tất cả nv thuộc phe Ác) mở mắt và hội ý bàn xem sẽ giết người dân nào, rồi đi "giết" người đó nhưng không được gây tiếng động. Rồi người quản trò nói "Mafia hãy ngủ đi", nhóm mafia nhắm mắt lại 1 lần nữa.

_ Bây giờ cảnh sát sẽ mở mắt và bàn xem ai là người đáng nghi nhất (kẻ đã giết người), nếu chỉ đúng thì người quản trò gật đầu. Rồi quản trò nói "Cảnh sát ơi hãy ngủ đi!" cảnh sát nhắm mắt lại.

_ Quản trò nói "Bác sĩ ơi hãy tỉnh giấc", bác sĩ tỉnh giấc và cứu 1 người, người mà bác sĩ nghi là bị hại, rồi sau đó đi "ngủ" tiếp.

_ Tiếp theo là các nhân vật phe Neutral được gọi tùy theo Quản trò.

_ Khi trời sáng, quản trò gọi mọi người "dậy" và thông báo tin tức: bao nhiêu người bị chết (hay được cứu sống). Nếu có người chết thì mỗi người dân chỉ được biểu quyết 1 lần và người nào có số phiếu cao nhất thì bị loại ra khỏi vòng chơi, và lá bài sẽ được công bố.

_ Trò chơi cứ thế diễn ra cho tới khi tên mafia cuối cùng bị giết lúc đó người dân thắng, còn số người dân ít hơn mafia thì mafia thắng.

_ Lưu ý: tất cả hoạt động trong đêm tối đều phải nhẹ nhàng, không được gây tiếng động. ​
</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" class="btn btn-secondary">Dài quá không đọc nữa</button>
                </div>
              </div>

            </div>
          </div>
      </li>
<br>
      <li class="nav-item">
        <div class="float-right">
            <button type="button" class="btn btn-success btn-lg nav-link" data-toggle="modal" data-target="#creditmodal">Bản quyền :)</button>
        </div>
          <!-- Modal -->
          <div id="creditmodal" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Credit</h4>
                </div>
                <div class="modal-body">
                  <p><h3>PO: Đặng Nguyễn Phương Trang</h3> <br>
                    <h3>Code chính: Khánh</h3><br>
                    <h3>Bưng nước: Double Minh</h3></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" class="btn btn-secondary">Đọc cái này làm gì nữa ?</button>
                </div>
              </div>

            </div>
          </div>
      </li>
      </ul>
    </nav>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
form
  <div style="width: 100%;">
 <div class="m*-md-6 a" style="float:left; width: 50%">
   <!-- <button type="button" name="button">Vào Phòng</button> -->
   <form class=" form text-center">
         <input type="text" class="c" name="room_code" value="" placeholder="Nhập Số Phòng">
         <h5></h5>
         <input type="submit" name="join" value="Vào" class="btn btn-danger">
  </form>
 </div>
 <div class="a" style="float:right;width: 50%">
   <!-- <button type="button" name="button">Tạo Phòng</button> -->

   <form class="form text-center ">
         <input id="room-name" type="number" class="c" name="nop" value="" placeholder="Số người chơi x2">
         <h5></h5>
         <input type="submit" name="Create" value="Tạo" class="btn btn-warning">

       </div>
     </form>
   </div>

      <div class="main-image">

      </div>
    <div style="clear:both"></div>
  </body>
  <!-- <footer>
    Đây là footer
  </footer> -->
</html>
